mixin footer()
	.footer
		//- .container
		a(href="/") Compradores Internacionais <span class="year">| 2017</span>
		.links
			a.credit(href="https://elogroup.com.br" target="_blank") desenvolvido por
				span  EloGroup

	.absolute.position-center
		a.btn--invisible.btn_icon(class="#{ current.source == '/' ? 'active' : '' }" href="/")
			include /assets/home.svg
			span Home
		a.btn--invisible.btn_icon(class="#{ current.source == 'cards' ? 'active' : '' }" href="https://airtable.com/tblVEMZNUp3pSTlIS/viwFAWMDo8ccHo1AG" target="_blank")
			include /assets/cards2.svg
			span Cartões
		a.btn--invisible.btn_icon(class="#{ current.source == 'table' ? 'active' : '' }" href="https://airtable.com/tblVEMZNUp3pSTlIS/viwBWLcNCAIDCmKkW" target="_blank")
			include /assets/table2.svg
			span Tabela
		a.btn--invisible.btn_icon(class="#{ current.source == 'form' ? 'active' : '' }" href="/form")
			include /assets/plus.svg
			span Adicionar
		a.btn--invisible.btn_icon(class="#{ current.source == 'rating-form' ? 'active' : '' }" href="/rating-form")
			include /assets/star.svg
			span Avaliar
		//- a.btn--invisible.btn_icon(class="#{ current.source == '/' ? 'active' : '' }" href="https://airtable.com/tblVEMZNUp3pSTlIS")
			include /assets/admin.svg
			span Admin
